<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aetherpro">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApplication"
        android:label="AetherPro"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" ... >
            </activity>
        
        <service 
            android:name=".services.FloatingNotepadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService" />

    </application>
</manifest>
